
<div  class="search-div">
  <button mat-raised-button  (click)="onCreate()">
    <mat-icon>queue</mat-icon>NOVI ZADATAK
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="FILTER PODATAKA" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<div  class="mat-elevation-z8">
  <mat-table [dataSource]="listData"  matSort>
    <ng-container matColumnDef="zadatak">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>NAZIV ZADATKA</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.zadatak | uppercase}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="pocetakDate">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>DATUM POČETKA</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.pocetakDate}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="zDate" >
      <mat-header-cell *matHeaderCellDef  mat-sort-header>ROK ZA ZAVRŠETAK</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.zDate}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="zaposleni">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ZAPOSLENI KOJEM JE ZADATAK NAMENJEN</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.zaposleni}}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="opis">
      <mat-header-cell *matHeaderCellDef mat-sort-header>OPIS</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.opis}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="kat">
      <mat-header-cell *matHeaderCellDef mat-sort-header>KATEGORIJA</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.kat}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="stanje">
      <mat-header-cell *matHeaderCellDef mat-sort-header>STANJE</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.stanje}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="prior">
      <mat-header-cell *matHeaderCellDef mat-sort-header>PRIORITET</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.prior}}</mat-cell>
    </ng-container>



    <ng-container matColumnDef="departmentName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ODELJENJE</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.departmentName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="onEdit(row)">   <mat-icon>border_color</mat-icon></button>
        <button mat-icon-button color="warn" (click)="onDelete(row.$key)">  <mat-icon>delete_forever</mat-icon></button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Čekaju se podaci...
      </mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Nema podataka.
      </mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
</div>
